.searchbar {
    justify-content: left !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #323232 !important;
}

.searchImage {
    height: 25px;
    margin-top: 10px;
    margin-right: 15px;
}

.nasaLogo {
    height: 50px;
    width: 65px;
    margin: 2px 40px 2px 0px;
}
